.listWrap {
    padding: 10px;
    color: #f0f0f0;
}
.clubFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.clubInfo {
    display: flex;
    color: #f0f0f0;
    font-size: 14px;
    justify-content: space-between;
}
.itembox {
    color: #f0f0f0;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.create {
    display: block;
    height: 10px;
}

.itemBgImg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}

