.listWrap {
    padding: 10px;
    color: #f0f0f0;
}
.clubFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.clubInfo {
    display: flex;
    color: #f0f0f0;
    font-size: 14px;
    justify-content: space-between;
}
.itembox {
    border: 1px solid red;
    color: #f0f0f0;
}
.create {
    display: block;
    height: 10px;
}

