.cWrap {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.cWrap .cWrapTitle {
  padding: 14px 20px;
}
.cWrap .cWrapTitle .cWrapTxt{
  color: #222;
}
.cWrap .cWrapTitle .cWrapTxt .ctxtP {
  color: #b621fe;
}
.cWrap .cWrapTitle .cWrapTxt .ctxtB {
  color: #1fd1f9;
}
.cWrap .cWrapContBox {}
.cWrap .cWrapContBox .cWrapCont {
  display: flex;
  flex-flow: column nowrap;
  padding: 7px 20px;
}
.cWrap .cWrapContBox .cWrapCont.cWrapGName {
  padding: 14px 20px 7px;
}
.cWrap .cWrapContBox .cWrapCont .cContTit{
  width: 100%;
  color: #222;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
}
.cWrap .cWrapContBox .cWrapCont .cCont {
  width: 100%;
}
.cWrap .cWrapContBox .cWrapCont .cCont input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #222;
  padding: 4px 12px 0;
  color: #222;
}
/* 모임 설명 */
.cWrap .cWrapContBox .cWrapCont .cCont textarea {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 12px;
  letter-spacing: -0.08px;
  word-spacing: -1.8px;
  border: 2px solid #222;
}
/* 날짜 설정 */
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont{
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  font-weight: 500;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont .dateCont {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 10px;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont .dateCont > div {
  width: 40px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 600;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont input {
  width: calc(100% - 55px);
  border: 2px solid #222;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  color: transparent;
  cursor: pointer;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont input::before {
  content: attr(placeholder);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  letter-spacing: -0.08px;
  word-spacing: -1.8px;
  font-weight: 500;
}
.cWrap .cWrapContBox .cWrapCont.cWrapDesc .cCont input:valid::before {
  display: none;
}

.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont {
  display: flex;
  align-items: flex-end;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgBox {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
  object-position: 50% 50%;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgBox img {
  width: 100%;

}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont {
  width: calc(100% - 130px);
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont .fileBox {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont .fileBox input.fileBoxTit {
  width: 60%;
  border: 1px solid #ddd;
  background-color: #ddd;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont .fileBox label {
  display: inline-block;
  padding: 10px 8px;
  color: #fff;
  vertical-align: middle;
  background-color: #999;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
  word-break: keep-all;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont .fileBox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.cWrap .cWrapContBox .cWrapCont.cWrapImg .cCont .cContMainImgCont .warMsg {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color: #f62f2f;
}

.cWrap .cWrapContPostBtn {
  padding: 0 20px 50px;
  margin: 30px 0 0;
}
.cWrap .cWrapContPostBtn .cBtn {
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #999;
  color: #fff;
  word-break: keep-all;
  font-size: 20px;
  border: none;
  font-weight: 700;
}