.passFindWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.8)), url(../../../../public/images/joinBg.jpg) center / cover no-repeat;
}
.passFindWrap .title {
  font-family: 'Montserrat', sans-serif;
  color:#4d4d4d;
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
}

.passFindWrap .contents,
.passFindWrap .complete {
  width: 60%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.passFindWrap .contents .inputWrap {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.passFindWrap .contents .inputWrap .input {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #4d4d4d;
  padding: 15px 20px 12px;
}
.passFindWrap .contents .btn {
  width: 80%;
  padding: 15px 60px;
  background-color: #ededed;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  word-break: keep-all;
}
.passFindWrap .contents .btn:hover {
  background-color: #4d4d4d;
  color: #fff;
}

.passFindWrap .complete .completeText {
  color: #4d4d4d;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 35px;
}
.passFindWrap .complete .linkBtn {
  width: 50%;
  padding: 15px 60px;
  background-color: #ededed;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Montserrat', sans-serif;
  word-break: keep-all;
}
.passFindWrap .complete .linkBtn:hover {
  background-color: #4d4d4d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .passFindWrap .contents,
  .passFindWrap .complete {
    width: 80%;
    height: 90%;
  }
  .passFindWrap .contents .btn {
    padding: 15px 10px;
  }
  .passFindWrap .complete .linkBtn {
    padding: 15px 10px;
  }
}