.amdinNav {
    color: #d9d9d9;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.amdinNav > ul {
    list-style: none;
}

/** 직원 일괄 업로드 **/
.amdinUserUpload {
    color: #d9d9d9;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}