.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title {
    display: none;
}
.logoimgWrap {
    width: 44.7vw;
    height: 44.7vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d9d9d9;
}

.logoimgWrap > img {
    width: 120%;
}

.name{
    margin: 25px 0;
    text-align: center;
}

.input {
    width: 70vw;
    padding: 15px 10px;
    background-color: #eee;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    color: #b3b3b3;
}
.input::placeholder {
    color:  #b3b3b3;
}

.errText{
    font-size: 14px;
    margin-bottom: 15px;
    color: #b60808;
    padding: 0 10px;
}
.passwordFind {
    margin: 15px 0 10px;
    font-size: 16px;
}
.passwordFind:hover,.passwordFind:active {
    color: #A1A1A1;
}
.loginBtn {
    width: 50vw;
    border-radius: 9px;
    background-color: #136a8f;
    border: none;
    font-size: 16px;
    padding: 18px 0;
}
.signUp{
    text-align: center;
    width: 50vw;
    border-radius: 9px;
    background-color: #04A2BF;
    border: none;
    font-size: 16px;
    padding: 18px 0;
}
.pText{
    font-size: 14px;
    margin: 25px 0 5px;
}
.color{
    color: #A1A1A1;
}