* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}html, body {
  margin: 0;
  padding: 0;
}

 /* 캘린더 */
.rbc-calendar .rbc-month-view {
  background-color: #fff ;
}
.rbc-button-link .attendance {
  color: red;
}