.calendarWrap {
    padding: 19px;
}

.calendar  {
    background-color: transparent;
}

.rbcBtnGroup button {
    border: none;
    color: #fff;
}
.rbcToolbar {
    display: flex;
    justify-content: start;
    margin: 10px 0px 10px 0px;
}
.calendar .rbcToolbar .rbcToolbarLabel {
    font-size: 16px;
    color: #fff;
    font-weight: bolder;
    padding: 0;
}
.loadingText {
    color: #f0f0f0;
    height: 500px;
}