.calendarWrap {
    padding: 69px 19px 19px 19px;
}

.calendar  {
    background-color: transparent;
}

.rbcBtnGroup button {
    border: none;
    color: #fff;
}
.rbcToolbar {
    display: flex;
    justify-content: start;
    margin: 10px 0px 10px 0px;
}
.calendar .rbcToolbar .rbcToolbarLabel {
    font-size: 16px;
    color: #fff;
    font-weight: bolder;
    padding: 0;
}
.loadingText {
    position: absolute;
    z-index: 999999;
    width: 100%;
    color: #f0f0f0;
    height: 530px;
    top: 52px;
    left: 0;
    background: #000000;
}